.App {
  text-align: left;
  padding: 1%;
}

.warning {
    color: red;
}

select {
  width: 10em;
  height: 2em;
  background-color: #008cba;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}
